/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	


/******************************************
		Main
******************************************/

html{
	font-family:'Just Another Hand', cursive;
	letter-spacing:3px;
	
	background:hsl(260,65%,95%);	
}

#container{
	width:100vw;
	max-width:800px;
	height:100vh;
	margin:0 auto;
}

h1{
	font-size:48px;
	padding:20px;
}

footer{
	margin-top:25px;	
}

footer p{
	padding:20px;
	text-align:right;
}

/******************************************
		Transforms
******************************************/

.shapes{
	display:flex;
	justify-content:space-evenly;
}

.shape1{
	width:60px;
	height:60px;
	background:lightblue;
}

/* you can animate any change in an element using the transition property */
.shapes .shape1:nth-child(3){
	transition: transform 1s ease-in-out;
}

.shapes .shape1:nth-child(3):hover{ /* nth child(3) targets the third child - or specifically the thing with the class .shape1 that is a third child in .shapes to target the scale square */
transform: scale(0.2, 0.2); /* transform: scale (2, 1.5) makes it twice as wide and 1.5x height for a rectangle. scale 0.2, 0.2 makes the element shrink, which behaves erratically when a user hovers */

transition: transform 1s ease-in-out; /*transition:transform targets the above transform so that it takes 1s to grow */
}

.shapes .shape1:nth-child(2){
	transition: all 750ms ease-in-out; /* if you want any change to animate, use transition:all */
}

.shapes .shape1:nth-child(2):hover{
	transition: rotate(135deg);
	transform: translate(50px, 20px);
	background-color: lightgoldenrodyellow;
}

.shapes .shape1:nth-child(4){
	/* to apply an @keyframes animation, you have to call it by name*/
	animation:jump 2s ease-in-out infinite;
}

.shapes .shape1:nth-child(5){
	animation: pendulum 2s ease-in-out infinite alternate;
}

/******************************************
		Animations
******************************************/

/* define an animation using @keyframes */
@keyframes jump{
	50%{
		transform: translateY(-100px);
	}
}

@keyframes pendulum {
	0%, 100% { /* you can set a property for the duration of the animation by setting it for both 0% and 100% */
		transform-origin: 0 -100px
	}

/* when dealing with direction: 
a negative vertical value means up, a positive value means down
a negative horizontal value means left, a positive value means right"
if using 3D transitions, positive means towards the viewer, negative means away */

	0%{
		transform: rotate(77deg);
	}

	100%{
		transform: rotate(-45deg);
	}
}


/******************************************
		Slider
******************************************/

.slider{
	margin:30px auto 0;
	/* three properties in margin mean top, left-right, bottom */
	width:80%;
	/* text-align will center images as well as text */
	text-align:center;
	/* set the overflow of the slider to hidden, so any content outside its fixed width and height will be hidden  */
	overflow: hidden;
}

/* first, make the slider position relative so it will contain all the absolutely positioned images */
.slideback{
	position: relative;
}

.slideback > img{
	/* > is the direct child selector, and only targets elements that are children but not  grandchildren or further descendants */
	width: 100%;
}

.slideholder{
	/* this is the element that slides back and forth */
	position: absolute;
	/* position:absolute is relative to the last element with a position property */
	top: 0;

	width: 300%; /* because there are three images */
	height: 100%; /*only works  because of display:flex*/
	display: flex; /*so the images sit next to each other*/

	/* add the transition property to animate any change (in this case, when the margin-left changes */
	transition: margin 1s ease-in-out;
}

.imgslide{
	/* these divs hold each of the images, and we can use flex-grow to make them take up more space */
	flex-grow: 1;
	height: 100%;
}

.imgslide img{ /*just to push the images down where we want them*/
	margin-top: 26%;
	width: 26%;
}

/* ~ is the after selector, and will style elements based on ofthey come after another element (in this case, s tyling the slider based on if it comes after a checked radio button */
#slide1:checked ~ .slideback .slideholder{margin-left: 0;}
#slide2:checked ~ .slideback .slideholder{margin-left: -100%;}
#slide3:checked ~ .slideback .slideholder{margin-left: -200%;}

/******************************************
		Labels (buttons)
******************************************/
label{
	display: inline-block; /* inline-block is like images, where they can have width and height, margins and padding, but will also sit next to each other */

	background-color: hsl(101, 100%, 80%); /*hsl is hue, saturation, luminosity
	hue is the color on the color wheel
	saturation is how much color (how much grey)
	luminosity is how light or dark the color is */

	border: 2px solid hsl(101, 100%, 30%); /* using hsl for the  border and keeping the hue the same, we can get a darker version of the same green */
	
	border-radius: 10px;

	width: 100px;
	padding: 5px 0; /* two values means top-bottom, left-right */
	font-size: 24px;
	text-align: center;
	margin: 0 15px;

	/* change the cursor when the user is hovering */
	cursor: pointer;

	/* aninate the change in background color */
	transition: background 0.5s, transform 0.15s;
}

label:hover{
	background-color: hsl(101, 100%, 40%);
}

label:active{
	background-color: hsl(101, 100%, 40%);
	/* change the scale a little bit to make it look like the button is being pressed */
	transform: scale(0.9); /*90%*/
}

/* style the labels based on which radio button is checked, so it looks like the selected button stays active */
/* nth-of-type styles elements based on whether they are the first, second, etc. of their element type (ie label, div, span, p) */
#slide1:checked ~ label:nth-of-type(1){background-color: hsl(101, 100%, 50%);}
#slide2:checked ~ label:nth-of-type(2){background-color: hsl(101, 100%, 50%);}
#slide3:checked ~ label:nth-of-type(3){background-color: hsl(101, 100%, 50%);}

/* hide the radio buttons - select them with teh attribute selector, based on the fact that they are readio buttons */
input[type="radio"]{
	display: none;
}